<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.net" type="System.Net.Configuration.NetSectionGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
			<section name="mailSettings" type="System.Net.Configuration.MailSettingsSectionGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		</sectionGroup>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<appSettings>
		<add key="env" value="PRD" />
		
		<add key="nseinvestUat" value="https://nseinvestuat.nseindia.com" />
		<add key="NSEMemberIdUat" value="1002765" />
		<add key="NSEUserIdUat" value="ADMIN" />
		<add key="valueUat" value="NGQxMDNmYjNmYTZmOTU2NGNlODExZmM2MTNjMzFmNWE6Ojc0ZDg2N2ZiY2QyNTEzMTQ3ZjQyZjRlMzlmMjFkNmVlOjpSQWZPd3ZucmhOMGl3YUdEZWNTZVcxR3FONHJEdWN2TW0wQ3didkJ6M003dHRPRmtYV2c3elgxK1h3ejJFdkdX"/>

		<add key="nseinvestPrd" value="https://www.nseinvest.com" />
		<add key="NSEMemberIdPrd" value="1006168" />
		<add key="NSEUserIdPrd" value="MFS46802" />
		<add key="valuePrd" value="NTYwOWZiMjUzYTRjZDM1NjQ2YWFlMTBmNDEyMjJlMzA6OmJhNDdiNGMwNDc5OWJjZmE1NzQzNWY0NTI1YjVhMjcwOjp2a0p2aEhiMVRua2VvNjJtV0Vvalp5ZTd5blIraXh1Mzc3b3ZybHpBNHh3ai85NTBqdW9aR3FMTWM5dm44bGFh"/>

		<add key="EmailFrom" value="admin@stackradius.com" />
		<add key="ErrorMsgTo" value="muthupyr@yahoo.com" />
		<add key="ErrorMsgSubject" value="Error from Stack Radius Servies (DEV)" />
		<add key="DebugUser" value="SysAdmin" />
		<add key="DebugEmail" value="" />
	</appSettings>

	<!-- Your existing system.net section can now reside safely below -->
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="admin@openwavecomp.in">
				<network host="smtp.openwavecomp.in" port="587" userName="admin@openwavecomp.in" password="Sterling#2010" defaultCredentials="false"/>
			</smtp>
		</mailSettings>
	</system.net>
	<log4net>
		<appender name="LoggerRollingFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\StackRadiusSolution\Logs\StackRadius.Service_"/>
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd'.log'" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="10000KB" />
			<staticLogFileName value="false" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%d{yyyy-MM-dd hh:mm:ss} - %message%newline" />
			</layout>
		</appender>
		<logger name="Logger">
			<level value="ALL" />
			<appender-ref ref="LoggerRollingFileAppender" />
		</logger>
	</log4net>
</configuration>